* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

html, body {
  @include size(100%);
  // overflow: hidden;
  text-size-adjust: 100%;
}

a {
  text-decoration: none;
  &:focus {
    outline: none;
  }
}

input,
button {
  outline: none;
  // background-color: transparent;
  // box-shadow: none;
  // border: 0;
  // -webkit-appearance: none;
  &:focus {
    outline: none;
  }
}

textarea {
  resize: none;
}

img {
  border: 0;
}

ul,
ol {
  list-style: none;
}
