// ----------------
// Colors
// ----------------
$white: #fff;
$black: #000;

// ----------------
// Fonts
// ----------------
$font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-base: 24px;
